* {
  font-size: 18px;
  // font-family: 'Inter';
  background-color: transparent;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #797CB2;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
// body > footer {
//   margin-top: auto;
// }

main {
  flex: 1;
}

h1 {
  font-size: 26px;
}

header {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 32px;
  margin-top: 12px;
  background-color: #E4E4E4;
  border: 2px solid black;
  max-width: 800px;
  min-width: 800px;
}
.nav_link {
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 800px;
  width: 800px;
  padding: 32px;
  background-color: #F7F7F7;
  height: 100%;
  flex: 1;
  border: 2px solid black;
  margin: 12px;
}

.small {
  font-size: 0.8em;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

.noul {
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.noli {
  margin: 12px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-horizontal {
  text-align: center;
  max-width: 800px;
  min-width: 800px;
  margin-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: #E4E4E4;
  border: 2px solid black;
}

.btn {
  transition: 0.1s ease-in-out;
}
.btn:hover {
  transform: scale(1.5);
}


