<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
		<title>Jhona Blog</title>
  		<link id="stylesheet" rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body class="back_background text_color">
		<header>
			<div class="navigation">
				<div><a class="nav_link" href="{{ get_url(path="/") }}">Home</a></div>
				<div><a class="nav_link" href="{{ get_url(path="@/blog/_index.md") }}">Blogs</a></div>
				<div><a class="nav_link" href="{{ get_url(path="@/minecraft/_index.md") }}">Minecraft</a></div>
				<div><a class="nav_link" href="{{ get_url(path="@/links/_index.md") }}">Links</a></div>
				<div><a class="nav_link" href="{{ get_url(path="@/about.md") }}">About</a></div>
			</div>
		</header>
		<main>
			<div class="container">
				{% block content %} {% endblock content %}
			</div>
		</main>
		<footer class="footer">
			<div class="footer-horizontal">
				<p></p>
				<a href="https://mastodon.social/"><img class="btn" src="/images/mastodon_button_1.gif" height="31" alt="join mastodon today"/></a>
				<a href="https://www.kernel.org/"><img class="btn" src="/images/xenia_CGG_small.gif" height="31" alt="xenia linux"/></a>
				<a href="https://fedoraproject.org/"><img class="btn" src="/images/poweredbyfedora.gif" height="31" alt="powered by fedora"/></a>
				<a href="https://last.fm/user/jhxnnat"><img class="btn" src="/images/lastfm-01.png" height="31" alt="lastfm"/></a>
				<a href="https://www.gnome.org/"><img class="btn" src="/images/GnomeLogoHorizontal.png" height="31" alt="go see gnome"/></a>
				<a href="{{ get_url(path="feed.xml", trailing_slash=false) }}"><img class="btn" src="/images/rss.gif" height="31" alt="rss feed"/></a>
				<a href="https://neovim.io/"><img class="btn" src="/images/neovim.gif" height="31" alt="made with neovim"/></a>
				<p>© 2026 Jhona </p>
			</div>
		</footer>
	</body>
</html>

